:root {
    --gold: rgb(160, 138, 88);
    --green: rgb(49,14,89);
    --purp: rgb(158,214,112);
    --black: rgb(0, 0, 0);
}

body {
    background-image: url("../images/nolaStreet.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--black);
    font-family: 'Play', sans-serif;;
}

/* #bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  } */

/* html { 
    background: url ("../images/nolaStreet.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

new-eat {
    background-color: black;
}

* {
    margin: 0;
}

h3 {
    color: var(--gold);
}
h1 {
    text-align: center;
    color: var(--gold);
}

.wrapper {
    padding: 2% 15%;
}

.flex-cont {
    display: flex;
}

.centered {
    justify-content: center;
    align-items: center;
}

.col {
    flex-direction: column;
}

.top-space {
    margin: 2% 0;
}

h3, select, input {
    margin: 3% 0;
    font-family: 'Play', sans-serif;
}

.text {
    font-family: 'Permanent Marker', cursive;
}

#new-fortune-body, #random-fortune-body {
    background-color: black;
    padding: 1%;
}

.main-prof {
    width: 10%;
    height: 10%;
    background-image: url('../images/new2nola.jpg');
    background-size: 40% 40%;
  }


.cont {
    background-color: var(--black);
    border-radius: 10px;
    box-shadow: 5px 5px 25px var(--gold);
}

input, select {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: .3em;
    color: var(--gold);
    background-color: whitesmoke;
}

input:focus {
    box-shadow: inset 0px 1px 10px var(--green);
    transition: .2s;
}

button {
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--green);
    padding: .3em;
    background-color: whitesmoke;
    font-family: 'Play', sans-serif;
}

button:hover {
    background-color: var(--purp);
    color: var(--gold);
    cursor: pointer;
    transition: .2s;
}